* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #304D63;
  border-bottom: 1px solid #101a22;
  color: #f2d096;
  text-align: center;
  text-shadow: 2px 2px #857775;
  height: 10vh;
  padding: 10px;
}

.container {
  background-color: rgb(207, 226, 233);
  height: calc(100vh - 10vh - 4vh);
  padding-top: 15px;
}

hr {
  margin-bottom: 10px;
}

.generic__class {
  border-radius: 15px;
  border: 1px solid black;
  display: block;
  font-size: large;
  margin: auto;
  margin-bottom: 15px;
  padding: 3px;
  text-align: center;
  width: 95vw;
}

.generic__label {
  margin-left: 40px;
}

.btn:hover {
  background-color: rgba(211, 211, 211);
}

.result__octalNumber,
.result__hexadecimalNumber,
.result__binaryNumber,
.result__romanNumber{
  background-color: white;
  color: #857775;
}

footer {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  text-align: center;
}

footer span {
  font-weight: bolder;
}

@media (max-width: 389px) {
  .header{
    height: 20vh;
    padding: 20px;
  }

  .container{
    height: calc(100vh - 20vh - 8vh);
  }
  
  p  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}